<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

    <connectionStrings>
        <add name="PayrollSystem_DBConnectionString" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=&quot;F:\CIS407A\Week 3 Lab\PayrollSystem_DB.accdb&quot;"
            providerName="System.Data.OleDb" />
        <add name="PayrollSystem_DBConnectionString1" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=F:\CIS407A\PayrollSystem_DB.accdb"
            providerName="System.Data.OleDb" />
        <add name="PayrollSystem_DBConnectionString2" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\PayrollSystem_DB.accdb"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>

</configuration>
